body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.04) 0px,
      rgba(255, 255, 255, 0.04) 2px,
      transparent 2px,
      transparent 4px
    ),
    /* linear-gradient(0deg, rgb(0, 0, 0), rgb(39, 81, 86)); */
      linear-gradient(90deg, rgb(0, 0, 0), rgb(158, 36, 36), rgb(0, 0, 0));
}

/* CSS Navbar */

.nav-registrado {
  display: none;
}

.navbar {
  z-index: 4;
  top: 0;
  position: sticky;
}
.navback {
  background-color: black;
}
.navbar1 {
  font-size: 18px;
  z-index: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-right: 40px;
}
.navbar1 li,
a,
button {
  color: aliceblue;
  text-decoration: none;
}
.logo-div {
  width: 45px;
}
.logonav {
  left: 0%;
  position: relative;
  width: 100%;
}
.navlis {
  list-style: none;
}
.navlis li {
  display: inline-block;
  padding: 0px 20px;
}
.navlis li a {
  transition: all 0.3s ease 0s;
}
.navlis li a:hover {
  color: rgb(255, 0, 0);
}
.navbar1 button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(199, 5, 5);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: blanchedalmond;
}
.navbar1 button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(201, 21, 21);
}

.btn-buscarmenos-a {
  margin-left: 50px;
  margin-bottom: 9px;
}

.btn-buscarmenos-a:hover {
  color: red;
}

.btn-buscarmenos-a {
  font-size: 1.3rem;
}

.btn-buscarmenos-a {
  margin-left: 20px;
}

.btn-buscarmenos-a:hover {
  color: red;
}

.btn-buscarmenos-a {
  font-size: 1.3rem;
}


/* CSS Busqueda */


.pbusqueda {
  margin-left: 105px;
  position: absolute;
  padding: 5px;
  z-index: 5;
  top: 6px;
}

.busqueda input {
  width: 0px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: black;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.btn1 {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(233, 7, 7);
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.busqueda:hover input {
  width: 540px;
}

.busqueda input:focus {
  width: 540px;
}
@media only screen and (min-width: 1024px) {
  .logonav {
    top: -5px;
  }
  .pbusqueda {
    top: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .busqueda:hover input {
    width: 250px;
  }
  .busqueda input:focus {
    width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .busqueda:hover input {
    width: 540px;
  }
  .busqueda input:focus {
    width: 540px;
  }
}

@media only screen and (max-width: 425px) {
  .busqueda:hover input {
    width: 200px;
  }
  .busqueda input:focus {
    width: 200px;
  }
}
/* CSS Carrusel */

.img-carrusel {
  height: 750px;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .img-carrusel {
    height: 300px;
  }
}

/* CSS CARDS */

.img-card {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(
      200deg,
      rgba(171, 171, 171, 0.05) 0%,
      rgba(171, 171, 171, 0.05) 23%,
      rgba(90, 90, 90, 0.05) 23%,
      rgba(90, 90, 90, 0.05) 48%,
      rgba(65, 65, 65, 0.05) 48%,
      rgba(65, 65, 65, 0.05) 61%,
      rgba(232, 232, 232, 0.05) 61%,
      rgba(232, 232, 232, 0.05) 100%
    ),
    linear-gradient(
      126deg,
      rgba(194, 194, 194, 0.05) 0%,
      rgba(194, 194, 194, 0.05) 11%,
      rgba(127, 127, 127, 0.05) 11%,
      rgba(127, 127, 127, 0.05) 33%,
      rgba(117, 117, 117, 0.05) 33%,
      rgba(117, 117, 117, 0.05) 99%,
      rgba(248, 248, 248, 0.05) 99%,
      rgba(248, 248, 248, 0.05) 100%
    ),
    linear-gradient(
      144deg,
      rgba(64, 64, 64, 0.05) 0%,
      rgba(64, 64, 64, 0.05) 33%,
      rgba(211, 211, 211, 0.05) 33%,
      rgba(211, 211, 211, 0.05) 50%,
      rgba(53, 53, 53, 0.05) 50%,
      rgba(53, 53, 53, 0.05) 75%,
      rgba(144, 144, 144, 0.05) 75%,
      rgba(144, 144, 144, 0.05) 100%
    ),
    linear-gradient(329deg, hsl(148, 0%, 0%), hsl(148, 0%, 0%));
  padding: 1rem;
}

.medio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.medio1 {
  transform: translate(0%, 0%);
}

.card1 {
  cursor: pointer;
  width: 400px;
  height: 400px;
  margin-right: 25px;
  margin-left: 25px;
  transition: 0.3s;
  color: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  border-radius: 6px;
  text-align: center;
  margin-top: 30px;
}

.textarmapc1 {
  /* font-size: 100px; */
  margin-top: 100px;
  margin-bottom: -160px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #000000,
    0 0 35px #000000, 0 0 45px #000000, 0 0 60px #000000, 0 0 80px #000000;
}

.cardsflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 160px;
  margin-bottom: 100px;
}

.frente,
.atras {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}

.frente img {
  height: 100%;
}

.frente {
  transform: perspective(600px) rotateY(0deg);
}

.atras {
  background-image: linear-gradient(
      200deg,
      rgba(171, 171, 171, 0.05) 0%,
      rgba(171, 171, 171, 0.05) 23%,
      rgba(90, 90, 90, 0.05) 23%,
      rgba(90, 90, 90, 0.05) 48%,
      rgba(65, 65, 65, 0.05) 48%,
      rgba(65, 65, 65, 0.05) 61%,
      rgba(232, 232, 232, 0.05) 61%,
      rgba(232, 232, 232, 0.05) 100%
    ),
    linear-gradient(
      126deg,
      rgba(194, 194, 194, 0.05) 0%,
      rgba(194, 194, 194, 0.05) 11%,
      rgba(127, 127, 127, 0.05) 11%,
      rgba(127, 127, 127, 0.05) 33%,
      rgba(117, 117, 117, 0.05) 33%,
      rgba(117, 117, 117, 0.05) 99%,
      rgba(248, 248, 248, 0.05) 99%,
      rgba(248, 248, 248, 0.05) 100%
    ),
    linear-gradient(
      144deg,
      rgba(64, 64, 64, 0.05) 0%,
      rgba(64, 64, 64, 0.05) 33%,
      rgba(211, 211, 211, 0.05) 33%,
      rgba(211, 211, 211, 0.05) 50%,
      rgba(53, 53, 53, 0.05) 50%,
      rgba(53, 53, 53, 0.05) 75%,
      rgba(144, 144, 144, 0.05) 75%,
      rgba(144, 144, 144, 0.05) 100%
    ),
    linear-gradient(329deg, hsl(148, 0%, 0%), hsl(148, 0%, 0%));
  transform: perspective(600px) rotateY(180deg);
}

.contenidoatras {
  color: wheat;
  text-align: center;
  width: 100%;
}

.iconoscard {
  margin: 20px 0;
}

.iconoscard a {
  text-decoration: none;
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: wheat;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
}

.iconoscard button:hover {
  background: wheat;
  color: red;
}

.card1:hover > .frente {
  transform: perspective(600px) rotateY(-180deg);
}

.card1:hover > .atras {
  transform: perspective(600px) rotateY(0deg);
}

@media only screen and (max-width: 1024px) {
  .card1 {
    margin-top: 50px;
  }
}
/* CSS Logos */

.logos {
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: none;
  border-right: none;
  background-color: rgb(10, 10, 12);
}

.logos-img {
  max-width: 400px;
  height: 250px;
}

/* CSS Arma tu PC */

.armapc {
  margin-top: 10px;
  text-align: center;
  color: white;
}

.armatupc {
  width: 100%;
}

.img-comp {
  width: 70%;
  padding: 1rem;
}

.textarmapc {
  font-size: 100px;
  margin-top: 100px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #000000,
    0 0 35px #000000, 0 0 45px #000000, 0 0 60px #000000, 0 0 80px #000000;
}

@media only screen and (max-width: 768px) {
  .img-comp {
    width: 75%;
  }
}
@media only screen and (max-width: 425px) {
  .img-comp {
    width: 100%;
  }
}

/* CSS About */
.about {
  background-color: rgb(7, 5, 5);
}

.tituloabout {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffffff,
    0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 20px;
  color: #fff;
}

.textabout {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.imagenabout {
  text-align: center;
}

.img-about {
  max-width: 100%;
  width: 650px;
  height: 450px;
}

.img-about2 {
  max-width: 100%;
  margin-bottom: 90px;
  width: 750px;
  height: 550px;
}

@media only screen and (max-width: 425px) {
  .img-about {
    width: 400px;
    height: 300px;
  }

  .img-about2 {
    width: 400px;
    height: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .img-about {
    max-width: 85%;
  }

  .img-about2 {
    max-width: 85%;
  }
}

/* CSS Footer */
.footer1 {
  margin-top: auto;
}

.footer {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

.footer a:hover {
  color: red;
}

.footer .social-icon:hover {
  color: rgb(252, 38, 0);
  transition: 0.3s;
}

.social-icon {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin: 15px;
}
